:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000;
  --white: #fff;
  --accent: #5b659f;

  --side-padding: 24px;
  --component-padding: 24px;
}

@media (min-width: 1000px) {
  :root {
    --side-padding: 64px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --abril: "Abril Fatface", serif;
    --poppins: "Poppins", sans-serif;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: var(--font-abril-fatface);
}


h2 {
  margin-top: -0.25rem;
  font-size: 22px;
  line-height: 1;

  @media (min-width: 1000px) {
    font-size: 30px;
  }
}

p {
  font-family: var(--font-poppins);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

svg {
  width: 25px;
  height: 25px;

  &:hover {
    transform: scale(1.1);
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin-top: auto;
  transition: 0.4s all ease-in-out;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  background:
    linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(91,101,159, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  color: var(--black);
  text-decoration: none;
  
  &:hover {
    color: var(--accent);
    background-size: 0 3px, 100% 3px;
  }
}

/* Swiper Styles */
.swiper {
  opacity: 0;
}

.swiper-slide div {
  opacity: 0.25;
  transition: all 0.3s ease-in-out;
  transform: scale(0.75);
  pointer-events: none;
  touch-action: none;
}

.swiper-slide-prev > div {
  transform: scale(0.75);
}

.swiper-slide-next > div {
  transform: scale(0.75);
}

.swiper-slide-active > div {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  transform: none; 
  pointer-events: all;
  touch-action: auto;
}

.swiper-slide p,
.swiper-slide h2,
.swiper-slide ul {
  opacity: 0;
  transform: translateY(-100%);
}

.swiper-slide-active p,
.swiper-slide-active h2,
.swiper-slide-active ul {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease-in-out; 
  transition-delay: 0.25s;
}

.swiper-header-pagination {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid var(--black);
    opacity: 1;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--black);
    }
  }

  .swiper-pagination-bullet-active {
    background: var(--black);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
