.bio {
  margin-top: auto;
  max-width: 768px;
  margin: 0 auto;
  padding: var(--component-padding) var(--side-padding);
  
  .title {
    margin-bottom: 1rem;
    font-size: 64px;
  }
}

.social {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;

  .socialLink {
    background: transparent;
  }
}