.bio {
  margin-top: auto;
  max-width: 600px;
  margin: 0 auto;
  padding: var(--component-padding) var(--side-padding);
  
  h1 {
    margin-bottom: 1rem;
    font-size: 64px;
  }

  a {
    background:
      linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(91,101,159, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    
    &:hover {
      color: var(--accent);
      background-size: 0 3px, 100% 3px;
    }
  }
}

.social {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;

  svg {
    width: 35px;
    height: 35px;
  }

  a {
    background: transparent;

    &:hover {
      transform: scale(1.1);
    }
  }
}